.clearfix,
body header div#header-container,
body header nav,
body header nav ul,
body header nav ul li ul.sub-nav-list,
body section,
body aside {
    zoom: 1;
}

    .clearfix:after,
    body header div#header-container:after,
    body header nav:after,
    body header nav ul:after,
    body header nav ul li ul.sub-nav-list:after,
    body section:after,
    body aside:after {
        display: block;
        content: "";
        height: 0;
        clear: both;
    }

body {
    background-color: #9215f2;
    color: #ffffff;
    font: 14px normal Arial;
}

    body header {
        background: #d292fd;
        /* Old browsers */
        background: -moz-linear-gradient(top, #d292fd 0%, #9215f2 93%, #9215f2 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d292fd), color-stop(93%, #9215f2), color-stop(100%, #9215f2));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #d292fd 0%, #9215f2 93%, #9215f2 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #d292fd 0%, #9215f2 93%, #9215f2 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #d292fd 0%, #9215f2 93%, #9215f2 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #d292fd 0%, #9215f2 93%, #9215f2 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
        /* IE6-9 */
    }

        body header div#header-container div#logo-container {
            float: left;
            position: relative;
        }

        body header div#header-container div#reg-form-container {
            float: right;
            position: relative;
            right: 5%;
            top: 50%;
        }

            body header div#header-container div#reg-form-container div {
                text-align: right;
            }

                body header div#header-container div#reg-form-container div label {
                    margin: 5px;
                    width: 50px;
                }

                body header div#header-container div#reg-form-container div input {
                    background-color: #b35ef3;
                    border: 1px solid #000000;
                    border-radius: 20px 20px 20px 20px;
                    margin: 5px;
                    padding: 2px 5px;
                    width: 130px;
                }

            body header div#header-container div#reg-form-container button {
                background-color: #b35ef3;
                border: 1px outset #000000;
                border-radius: 20px 20px 20px 20px;
                color: #ffffff;
                font-weight: bold;
                margin-left: auto;
                margin-right: auto;
                padding: 5px 8px;
            }

                body header div#header-container div#reg-form-container button:hover {
                    background-color: #8949b9;
                    border-style: inset;
                }

        body header nav {
            border: 2px solid #000000;
            border-radius: 20px 20px 20px 20px;
            display: inline-block;
            margin: 20px;
            padding: 12px;
            width: 75%;
        }

            body header nav ul.nav-list {
                list-style-type: none;
            }

            body header nav ul li {
                float: left;
                margin: 0;
            }

                body header nav ul li a {
                    color: #ffffff;
                    font: 1.4em normal Arial;
                    padding: 0 10px;
                    text-decoration: none;
                }

                    body header nav ul li a.selected {
                        font-weight: bold;
                    }

                body header nav ul li:hover > a {
                    color: #a8a8a8;
                    text-decoration: underline;
                }

                    body header nav ul li:hover > a + ul {
                        display: block;
                    }

                body header nav ul li ul.sub-nav-list {
                    background-color: rgba(179, 94, 243, 0.9);
                    border-radius: 5px 5px 5px 5px;
                    display: none;
                    position: absolute;
                }

                body header nav ul li ul li {
                    border-bottom: 1px solid #000000;
                    float: none;
                    margin: 0 15px;
                    padding: 10px 0;
                }

                    body header nav ul li ul li:last-of-type {
                        border-bottom: medium none;
                    }

                    body header nav ul li ul li > a {
                        font-size: 1.2em;
                    }

    body section {
        float: left;
        width: 75%;
    }

        body section article {
            border: 1px solid #000000;
            border-radius: 20px 20px 20px 20px;
            margin: 20px;
            padding: 20px;
        }

            body section article header {
                background: none repeat scroll 0 0 transparent;
                padding: 5px;
            }

                body section article header h1 {
                    font-size: 1.4em;
                    padding: 0;
                }

            body section article footer {
                padding: 5px;
            }

                body section article footer p {
                    font-size: 16px;
                    font-weight: normal;
                    text-align: right;
                }

                    body section article footer p time {
                        font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
                    }

                    body section article footer p a {
                        text-decoration: none;
                    }

                        body section article footer p a:hover {
                            text-decoration: underline;
                        }

    body aside {
        float: left;
        margin: 20px;
        width: 20%;
    }

        body aside > ul {
            list-style-type: none;
        }

            body aside > ul > li {
                border: 1px solid #000000;
                border-radius: 5px 5px 5px 5px;
                margin: 15px 0;
                padding: 15px;
            }

                body aside > ul > li h2 {
                    font-size: 1.1em;
                    font-weight: bold;
                }

                body aside > ul > li p {
                    font-size: 14px;
                    margin: 10px 5px;
                }

                    body aside > ul > li p a {
                        color: #aaaaaa;
                        text-decoration: none;
                    }

                    body aside > ul > li p strong {
                        color: #cccccc;
                        font-style: normal;
                        font-weight: bold;
                    }

                    body aside > ul > li p em {
                        color: #cccccc;
                        font-style: italic;
                        font-weight: normal;
                    }

                body aside > ul > li ul {
                    list-style-type: none;
                    margin: 10px 0;
                    padding-left: 5px;
                }

                    body aside > ul > li ul li {
                        background: url("images/li-dot.png") no-repeat scroll 0 50% transparent;
                        margin: 5px 0 0 10px;
                        padding-left: 25px;
                    }

    body footer {
        clear: both;
        padding: 15px 0 25px;
        text-align: center;
    }

        body footer p {
            font-size: 1.2em;
            font-weight: bold;
        }

    body p a {
        color: #d4a3f8;
    }
